.p-button{
    margin-left: 20%;
    margin-bottom: 10px;
}
.addrState-view{
    margin-top: 100px;

}
.p-inputtext{
    display: block;
    margin: 5px 0 10px 0;
    width: 100%;

}

.dialog-button{
    margin-top: 20px;
    margin-left: 89%;
}