button.p-button{
    margin-left: 10%;
    margin-bottom: 10px;
}
.product-view{
    margin-top: 100px;

}
.p-inputtext{
    display: block;
    margin-bottom: 10px ;
    width: 100%;

}

button.dialog-button{
    margin-top: 20px;
    margin-left: 88%;
}
.product-image{
    width: 6rem;
    border-radius: 5%;
}